* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* pagina home cabecera */
body {
  background-color: gray;
}

.cabecera {
  background-image: url(/imagenes/programacion-background.jpg);
  width: 100%;
  height: 250px;
}

nav ul a li {
  display: inline-block;
  list-style-type: none;
  margin: 10px;
  background-color: transparent;
  border-style: groove;
  padding: 10px;
}

nav ul a {
  text-decoration: none;
}

nav li {
  text-decoration: none;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

nav ul {
  padding: 25px;
}

.logo {
  width: 150px;
  height: 150px;
}

.img {
  text-align: center;
  padding-top: 90px;
}

div .titulo {
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 20px;
  font-family: lucida console;
}

/* pagina home tabla */
.proximas-fechas {
  font-size: 30px;
  text-decoration-line: underline;
  font-family: georgia;
  font-weight: bold;
  padding-top: 100px;
}

.seccion-fechas {
  /* display: table;
    padding-top: 30px;
    text-align: center; */
  display: block;
  justify-content: space-around;
  align-items: center;
  /* padding-left: 130px; */
  margin: auto;
  width: 50%;
  margin-top: 5%;
}

.container {
  width: 80%;
  background-color: rgba(48, 48, 123, 0.647);
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px black;
  text-align: center;
  /* margin: 20px; */
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 5%;
}

.fechas {
  font-size: 50px;
  padding: 10px;
  padding-right: 30px;
  font-family: monospace;
  font-weight: bold;
  margin-top: 10px;
}

.dias {
  font-size: 25px;
  padding: 10px;
  padding-right: 30px;
  font-family: monospace;
  font-weight: bold;
  margin-top: 10px;
}

.curso {
  font-size: 25px;
  padding: 10px;
  padding-right: 60px;
  font-family: monospace;
  font-weight: bold;
}

button {
  border-radius: 20%;
  font-family: georgia;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 19px;
  margin-right: 5px;
  background-color: grey;
  border-bottom-width: thick;
  height: 60px;
}

/* .fechas .dias .curso .button{
    margin: auto;
} */

/* CONOCENOS */

.conocenos {
  font-size: 50px;
  text-align: center;
  padding-top: 70px;
  font-family: monospace;
  color: white;
}

/* .background-conocenos {

 
  /* background-size: contain; */

/* } */

.mentores {
  display: flex;
  margin-top: 20px;
  margin: 5px;
  justify-content: center;
  padding: 20px;
}

.info {
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  margin: auto;
  color: white;
}

.alexandra,
.juan {

  display: flex;
  /* display: block; */
  flex-direction: column;
  padding: 3px 10px;
  border: PowderBlue 5px double;

  width: 40%;
}

.caja1 {
  background-image: url(/imagenes/—Pngtree—high\ speed\ hi-tech\ abstract\ technology_1249973.jpg);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-position: center;

}

.caja2 {
  background-image: url(/imagenes/—Pngtree—high\ speed\ hi-tech\ abstract\ technology_1249973.jpg);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-position: center;
}

.alexandra img,
.juan img {
  align-self: center;
  margin-top: 15px;
  margin-bottom: 15px;
  /* width: 40%; */

  width: 240px;
  height: 300px;
}

/* .alexandra .p{
  display: flex;
} */

/* .juan {
  padding: 3px 10px;
  border: PowderBlue 5px double;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  align-content: center;
} */

.img-juan {

  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.mentores .nombre {
  font-size: 21px;
  font-family: georgia;
  color: cornflowerblue;

  text-align: center;
}

.mentores p {
  font-size: 20px;
  color: white;
  text-align: center;

}

.img-alex {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;

}

/* PAGINA CONTACTO */

.info {
  padding-top: 130px;
}

.contacto {
  font-size: 30px;
}

/* .contact-box{

} */
.contact,
.tlf,
.email {
  border-style: solid;
  margin: 5px;
  background-color: rgba(255, 140, 0, 0.7);
  padding: 15px;
  margin-left: 250px;
  margin-right: 250px;

}

/* PAGINA ALUMN@S */

table {
  border-collapse: collapse;
  font-size: 20px;
  text-align: center;
  margin-left: 222px;
  margin-top: 120px;

}

table thead tr {
  border: 2px solid black;
  background-color: rgba(248, 129, 9, 0.674);


}

th {
  color: white;
  font: bold;
}

table td,
table th {
  padding: 5px;
  border: 1px solid black;

}

tbody td {
  font-family: monospace;
  padding: 10px;
}

.icons {
  padding-right: 10px;
}

.cine p {
  font-variant: all-small-caps;
  font-size: 25px;
  text-decoration-line: underline;
  font-weight: bolder;
}

.cine {
  margin-top: 70px;
  /* margin-left: 513px; */
  background-image: url(/imagenes/This\ Ivy\ House.jpeg);
  background-size: 50%;
  /* margin-right: 434px; */
  width: 50%;
  margin: auto;
}

.cine li {
  margin: 11px;
  font-size: 20px;
  margin-left: 24px;
  font-family: fantasy;
  color: darkorange;

}

.etiquetas {
  margin: 10px;
  font-size: 20px;
  margin-left: 654px;
  margin-top: 50px;
}

ul {
  margin: 10px;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 50px;
}

.etiquetas,
ul {
  display: inline-block;
  text-align: center;
}

dl {
  padding-top: 45px;
  width: 54%;
}

dd {
  padding-left: 150px;
  font-size: 20px;
}

dt {
  font-weight: bold;
  border-bottom: solid;
  font-size: 25px;
}

/* formularios */

form {
  width: 80%;
  margin: auto;
  padding-top: 8%;
  padding-bottom: 10%;

}

.boxinfo {
  display: flex;
    justify-content: center;
    align-items: baseline;
    border: outset 3px rgb(255 140 0 / 70%);
    background-color: transparent;
    box-shadow: 5px 5px 5px 5px rgb(255 140 0 / 70%);
    border-radius: 35px 0px 35px 0px;
}



.dpers,
.cbox,
.fcursos {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  font-size: 20px;
  font-family: monospace;
  margin-top: 5px;
  margin-bottom: 10px;
}

form input{
  border-top: none;
    font-style: italic;
    font-weight: 800;
    border-radius: 35px 0px 35px 0px;
    background-color: transparent;
    cursor: pointer;
}

form .dpers input:hover{
  box-shadow: 2px 2px 2px 2px rgb(255 140 0 / 70%);
}
.botones {
  align-self: flex-end;
  padding: 5px;
  display: flex;
}

/* .btn1{
  border: 2px solid;
    color: black;
    background: transparent;
    cursor: pointer;
    padding: 8px;
}

.btn2{
  border: 2px solid;
    color: black;
    background: transparent;
    cursor: pointer;
    padding: 8px; */
    


.formulario{
  font-size: 30px;
    margin-top: 88px;
    text-align: center;
    font-family: monospace;
}

.botones input:hover{
  background-color: rgb(255 140 0 / 70%);
  transform: scale(1.2);
  color: white;
}
.botones input{
  width: 80px;
  height: 30px;
  margin: 5px;
    border: none;
    background-color: transparent;
    border-radius: 35px 0px 35px 0px;
    cursor: pointer;
}
