* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* pagina home cabecera */
body {
  background-color: rgba(185, 181, 181, 0.785);
}

.cabecera {
  background-image: url(/imagenes/wallpaperbetter.jpg);
  width: 100%;
  height: 250px;
  background-attachment: fixed;
}

/*** ESTILOS BOTÓN GROW SKEW ***/
nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

nav ul {
  margin: 10px;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 10px;
}

.ov-btn-grow-skew {
  background: transparent;
  /* color de fondo */
  color: rgba(185, 181, 181, 0.785);
  /* color de fuente */
  text-decoration: none;
  font-family: san;
  padding: 16px 20px;
  border-radius: 30px;
  /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.ov-btn-grow-skew:hover {
  color: #fff;
  /* color de fuente hover */
}

.ov-btn-grow-skew::after {
  content: "";
  background: #e7974f;
  /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.ov-btn-grow-skew:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

/* nav ul a {
  text-decoration: none;
} */

/* nav li {
  text-decoration: none;
  color: black;
  font-family: 
  font-weight bold;
} */

/* nav ul {
  padding: 25px;
} */

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* margin-top: 2%; */
}



.img {
  border-radius: 50%;
  margin-top: 1%;
  margin-right: 1%;

}

.rss{
  margin: auto;
}
.icon{
  color: #e7964f;
  text-decoration: none;
  font-size: 30px;
  margin: 10px;
}

div .titulo {
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 20px;
  font-family: lucida console;
}

/* pagina home tabla */
.proximas-fechas {
  font-size: 40px;
  /* text-decoration-line: underline; */
  font-family: monospace;
  font-weight: bold;
  padding-top: 100px;
  /* padding-left: 602px; */
  text-align: center;
}

.seccion-fechas {
  /* display: table;
    padding-top: 30px;
    text-align: center; */
  display: block;
  justify-content: space-around;
  align-items: center;
  /* padding-left: 130px; */
  margin: auto;
  width: 50%;
  margin-top: 5%;
  border-radius: 20px;
  /* box-shadow: inset 1px -5px 8px 1px #e7974f; */
}

.container {
  width: 80%;
  border-radius: 20px;

  text-align: center;
  /* margin: 20px; */
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 5%;
}

.container:hover {
  background-color: #e7964f;
}

.fechas {
  font-size: 50px;
  padding: 10px;
  padding-right: 30px;
  font-family: monospace;
  font-weight: bold;
  margin-top: 10px;
}

.dias {
  font-size: 25px;
  padding: 10px;
  padding-right: 30px;
  font-family: monospace;
  font-weight: bold;
  margin-top: 10px;
}

.curso {
  font-size: 25px;
  padding: 10px;
  padding-right: 60px;
  font-family: monospace;
  font-weight: bold;
}

button {

  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 19px;
  margin-right: 15px;
  /* background-color: grey; */
  /* border-bottom-width: thick; */
  height: 60px;
  border: none;
  background-color: transparent;
}

.container button a {
  text-decoration: none;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

.container button a:hover {
  color: white;
  text-shadow: 2px 2px 2px black;

}

/* a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
a:-webkit-any-link:hover{
color: #e7974f;
} */


/* .fechas .dias .curso .button{
    margin: auto;
} */

/* FOOTER */

footer {
  background-color: black;
 
  
  display: flex;
  justify-content: space-between;
}

footer p {
  color: grey;
  font-size: 20px;
  margin-top: 27px;
}
.footerlogo{
  width: 4%;
}

/* CONOCENOS */

.conocenos {
  font-size: 50px;
  text-align: center;
  padding-top: 70px;
  font-family: monospace;
  color: white;
}

/* .background-conocenos {

 
  /* background-size: contain; */

/* } */

.mentores {
  display: flex;
  margin-top: 20px;
  margin: 5px;
  justify-content: center;
  padding: 20px;
}

.info {
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  margin: auto;
  color: white;
}

.alexandra,
.juan {

  display: flex;
  /* display: block; */
  flex-direction: column;
  padding: 3px 10px;
  border: PowderBlue 5px double;

  width: 40%;
}

.caja1 {
  background-image: url(/imagenes/—Pngtree—high\ speed\ hi-tech\ abstract\ technology_1249973.jpg);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-position: center;

}

.caja2 {
  background-image: url(/imagenes/—Pngtree—high\ speed\ hi-tech\ abstract\ technology_1249973.jpg);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-position: center;
}

.alexandra img,
.juan img {
  align-self: center;
  margin-top: 15px;
  margin-bottom: 15px;
  /* width: 40%; */

  width: 240px;
  height: 300px;
}

/* .alexandra .p{
  display: flex;
} */

/* .juan {
  padding: 3px 10px;
  border: PowderBlue 5px double;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  align-content: center;
} */

.img-juan {

  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.mentores .nombre {
  font-size: 21px;
  font-family: georgia;
  color: cornflowerblue;

  text-align: center;
}

.mentores p {
  font-size: 20px;
  color: white;
  text-align: center;

}

.img-alex {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;

}

/* PAGINA CONTACTO */

.info {
  padding-top: 130px;
}

.contacto {
  font-size: 30px;
}

/* .contact-box{

} */
.contact,
.tlf,
.email {
  border-style: solid;
  margin: 5px;
  background-color: rgba(255, 140, 0, 0.7);
  padding: 15px;
  margin-left: 250px;
  margin-right: 250px;

}

/* PAGINA ALUMN@S */

table {
  border-collapse: collapse;
  font-size: 20px;
  text-align: center;
  margin-left: 222px;
  margin-top: 120px;

}

table thead tr {
  border: 2px solid black;
  background-color: rgba(248, 129, 9, 0.674);


}

th {
  color: white;
  font: bold;
}

table td,
table th {
  padding: 5px;
  border: 1px solid black;

}

tbody td {
  font-family: monospace;
  padding: 10px;
}

.icons {
  padding-right: 10px;
}

/* .cine p {
  font-variant: all-small-caps;
  font-size: 25px;
  text-decoration-line: underline;
  font-weight: bolder;
} */

/* .cine li {
  margin: 11px;
  font-size: 20px;
  margin-left: 24px;
  font-family: fantasy;
  color: darkorange;

} */

.etiquetas {
  margin: 10px;
  font-size: 20px;
  margin-left: 654px;
  margin-top: 50px;
}

ul {
  margin: 10px;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 50px;
}

.etiquetas,
ul {
  display: inline-block;
  text-align: center;
}

dl {
 text-align: center;
    padding-top: 45px;
    width: 54%;
    display: contents;
}

dd {
  padding-left: 150px;
  font-size: 20px;
}

dt {
  font-weight: bold;
  border-bottom: solid;
  font-size: 25px;
}

/* formularios */

form {
  width: 80%;
  margin: auto;
  padding-top: 8%;
  padding-bottom: 10%;

}

.boxinfo {
  display: flex;
  justify-content: center;
  align-items: baseline;
  border: outset 3px rgb(255 140 0 / 70%);
  background-color: transparent;
  box-shadow: 5px 5px 5px 5px rgb(255 140 0 / 70%);
  border-radius: 35px 0px 35px 0px;
}



.dpers,
.cbox,
.fcursos {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  font-size: 20px;
  font-family: monospace;
  margin-top: 5px;
  margin-bottom: 10px;
}

form input {
  border-top: none;
  font-style: italic;
  font-weight: 800;
  border-radius: 35px 0px 35px 0px;
  background-color: transparent;
  cursor: pointer;
}

form .dpers input:hover {
  box-shadow: 2px 2px 2px 2px rgb(255 140 0 / 70%);
}

.botones {
  align-self: flex-end;
  padding: 5px;
  display: flex;
}

/* .btn1{
  border: 2px solid;
    color: black;
    background: transparent;
    cursor: pointer;
    padding: 8px;
}

.btn2{
  border: 2px solid;
    color: black;
    background: transparent;
    cursor: pointer;
    padding: 8px; */



.formulario {
  font-size: 30px;
  margin-top: 88px;
  text-align: center;
  font-family: monospace;
}

.botones input:hover {
  background-color: rgb(255 140 0 / 70%);
  transform: scale(1.2);
  color: white;
}

.botones input {
  width: 80px;
  height: 30px;
  margin: 5px;
  border: none;
  background-color: transparent;
  border-radius: 35px 0px 35px 0px;
  cursor: pointer;
}